@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.ts";
@source "../**/*.tsx";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #005bbf;
    --color-primary-light: rgba(26, 115, 232, 0.1);
    --color-bg-page: #f7f9ff;
    --color-bg-sidebar: #f1f4fa;
    --color-bg-card: #ffffff;
    --color-bg-card-inner: #f7f9ff;
    --color-bg-tag: #ebeef4;
    --color-text-primary: #181c20;
    --color-text-secondary: #414754;
    --color-text-muted: #727785;
    --color-success: #1b6d24;
    --color-success-badge: #a0f399;
    --color-danger: #ba1a1a;
    --color-danger-light: #ffb3ac;
    --color-danger-bar: #dd3635;
    --color-border: #c1c6d6;
    --color-inactive: #dfe3e8;
    --color-chart-blue: #adc7ff;
}
